doctype html
html
  head
    style
      include style.css
  body
    h1.title Club Bières
    img(class='logo' src='cid:logo')
    <div class="body">
      <p>
        .bold Nouvelle Dégustation !
        .text.date le <b>#{event.humanDate}</b>
      </p>
      .separator
      <p>
        .bold Inscris-toi dès maintenant
        .text et consulte la liste des bières qu'il y aura à déguster !
      </p>
      <p>
        a(class='button' href=clientURI) JE M'INSCRIS
      </p>
      .separator
      <p class="maillist">
        .text Si tu ne souhaites plus être notifié par mail, <a href=#{mailListUri}>clique ici</a>
      </p>
    </div>
